.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
opencode.exe
a.out
target
.scripts
.direnv/

.agents/

bun.lock

# Local dev files
opencode-dev
logs/
*.bun-build
tsconfig.tsbuildinfo

# OpenCode project logs
.opencode/log/
